<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Effect_Charged_1_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,1149},{125,131}}</string>
                <key>offset</key>
                <string>{9,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,57},{125,131}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,1227},{147,123}}</string>
                <key>offset</key>
                <string>{-46,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,59},{147,123}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{343,239}}</string>
                <key>offset</key>
                <string>{5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,43},{343,239}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{351,233}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,44},{351,233}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,2},{347,227}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,44},{347,227}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,749},{329,231}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,36},{329,231}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,749},{303,213}}</string>
                <key>offset</key>
                <string>{-19,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,44},{303,213}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1345},{283,203}}</string>
                <key>offset</key>
                <string>{-16,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,40},{283,203}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,1006},{255,189}}</string>
                <key>offset</key>
                <string>{-17,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,42},{255,189}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,743},{233,177}}</string>
                <key>offset</key>
                <string>{-8,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,43},{233,177}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1383},{285,257}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,2},{285,257}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,745},{259,233}}</string>
                <key>offset</key>
                <string>{-3,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,15},{259,233}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,1512},{231,207}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,30},{231,207}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,237},{183,133}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,70},{183,133}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,986},{161,123}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,76},{161,123}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1721},{137,111}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,81},{137,111}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,883},{119,101}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,86},{119,101}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,1701},{103,99}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,89},{103,99}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,1282},{105,101}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,90},{105,101}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1463},{107,105}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,89},{107,105}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,1352},{109,107}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,84},{109,107}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,1352},{109,107}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,84},{109,107}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,2},{5,9}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,136},{5,9}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,736},{5,9}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,135},{5,9}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,1054},{1,1}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,143},{1,1}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1345},{1,1}}</string>
                <key>offset</key>
                <string>{-178,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1345},{1,1}}</string>
                <key>offset</key>
                <string>{-178,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1345},{1,1}}</string>
                <key>offset</key>
                <string>{-178,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1345},{1,1}}</string>
                <key>offset</key>
                <string>{-178,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1345},{1,1}}</string>
                <key>offset</key>
                <string>{-178,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1345},{1,1}}</string>
                <key>offset</key>
                <string>{-178,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1345},{1,1}}</string>
                <key>offset</key>
                <string>{-178,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1345},{1,1}}</string>
                <key>offset</key>
                <string>{-178,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1345},{1,1}}</string>
                <key>offset</key>
                <string>{-178,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1345},{1,1}}</string>
                <key>offset</key>
                <string>{-178,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1345},{1,1}}</string>
                <key>offset</key>
                <string>{-178,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_036.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1345},{1,1}}</string>
                <key>offset</key>
                <string>{-178,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_037.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1345},{1,1}}</string>
                <key>offset</key>
                <string>{-178,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_038.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1345},{1,1}}</string>
                <key>offset</key>
                <string>{-178,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_039.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1345},{1,1}}</string>
                <key>offset</key>
                <string>{-178,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_040.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1345},{1,1}}</string>
                <key>offset</key>
                <string>{-178,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_041.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1345},{1,1}}</string>
                <key>offset</key>
                <string>{-178,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_042.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1345},{1,1}}</string>
                <key>offset</key>
                <string>{-178,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_043.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1345},{1,1}}</string>
                <key>offset</key>
                <string>{-178,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_044.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1345},{1,1}}</string>
                <key>offset</key>
                <string>{-178,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_045.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1345},{1,1}}</string>
                <key>offset</key>
                <string>{-178,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_046.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1345},{1,1}}</string>
                <key>offset</key>
                <string>{-178,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_047.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1345},{1,1}}</string>
                <key>offset</key>
                <string>{-178,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_048.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1345},{1,1}}</string>
                <key>offset</key>
                <string>{-178,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_049.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1345},{1,1}}</string>
                <key>offset</key>
                <string>{-178,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_050.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1345},{1,1}}</string>
                <key>offset</key>
                <string>{-178,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_051.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1345},{1,1}}</string>
                <key>offset</key>
                <string>{-178,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_052.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,1454},{7,7}}</string>
                <key>offset</key>
                <string>{-21,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,126},{7,7}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_053.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1227},{67,37}}</string>
                <key>offset</key>
                <string>{-24,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,127},{67,37}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_054.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,1463},{41,31}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,131},{41,31}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_055.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,665},{75,69}}</string>
                <key>offset</key>
                <string>{-20,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,97},{75,69}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_056.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,1385},{73,67}}</string>
                <key>offset</key>
                <string>{-17,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,108},{73,67}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_057.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,1721},{111,125}}</string>
                <key>offset</key>
                <string>{-31,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,83},{111,125}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_058.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1721},{101,177}}</string>
                <key>offset</key>
                <string>{-27,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,55},{101,177}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_059.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1630},{89,203}}</string>
                <key>offset</key>
                <string>{-25,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,30},{89,203}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_060.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,466},{95,197}}</string>
                <key>offset</key>
                <string>{-29,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,34},{95,197}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_061.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{311,269}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,23},{311,269}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_062.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1080},{301,249}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,29},{301,249}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_063.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{295,233}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,25},{295,233}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_064.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1054},{289,211}}</string>
                <key>offset</key>
                <string>{12,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,29},{289,211}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_065.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,237},{279,227}}</string>
                <key>offset</key>
                <string>{16,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,2},{279,227}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_066.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,478},{265,189}}</string>
                <key>offset</key>
                <string>{20,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,27},{265,189}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_067.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,1263},{247,177}}</string>
                <key>offset</key>
                <string>{23,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,41},{247,177}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_068.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1670},{245,171}}</string>
                <key>offset</key>
                <string>{16,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,46},{245,171}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_069.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,478},{263,263}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,7},{263,263}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_070.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,237},{239,243}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,17},{239,243}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_071.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,1006},{213,219}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,30},{213,219}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_072.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,422},{175,133}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,66},{175,133}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_073.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,726},{155,141}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,64},{155,141}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_074.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,599},{137,125}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,73},{137,125}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_075.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,1352},{119,109}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,85},{119,109}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_076.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1687},{103,99}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,90},{103,99}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_077.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,1580},{101,105}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,87},{101,105}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_078.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,1463},{107,115}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,86},{107,115}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
            <key>Effect_Charged_1_079.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,1580},{97,119}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,92},{97,119}}</string>
                <key>sourceSize</key>
                <string>{357,295}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Charged.png</string>
            <key>size</key>
            <string>{1008,1843}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c30931a7eaf436c29ffe9c62d53b5b8a:8d2c345dce92f3e8053062d3e472508a:218351bdb3a443f60f263a9b0859b444$</string>
            <key>textureFileName</key>
            <string>Charged.png</string>
        </dict>
    </dict>
</plist>
